<?xml version="1.0" encoding="UTF-8"?>
<!-- 日志级别以及优先级排序：OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- status="WARN"：用于设置log4j2自身内部日志的信息输出级别，默认是OFF-->
<!-- monitorInterval="30"：间隔秒数，自动检测配置文件的变更和重新配置本身，最小 5s-->
<Configuration status="WARN" monitorInterval="30">
    <!--自定义常量，之后使用${变量名}引用-->
    <Properties>
        <Property name="appName">op-admin</Property>
        <Property name="logLevel">DEBUG</Property>
        <Property name="logFilePath">logs</Property>
        <Property name="consolePattern">%d{HH:mm:ss.SSS} [%t] [%p] %c - %m%n</Property>
        <Property name="filePattern">%d{HH:mm:ss.SSS} [%t] [%p] %c - %m%n</Property>
        <Property name="mailPattern">%d{HH:mm:ss:SSS} [%t] [%p] - %l - %m%n</Property>
        <Property name="rollingFilePattern">%d{HH:mm:ss:SSS} [%t] [%p] - %l - %m%n</Property>
        <Property name="rollingTimeInterval">1</Property>
        <Property name="rollingFileSize">500 MB</Property>
        <Property name="rollingFileNum">100</Property>
        <Property name="deleteDays">7d</Property>
        <Property name="deleteFileSize">500 MB</Property>
        <Property name="deleteFileNum">20</Property>
    </Properties>

    <!-- Appenders：定义输出内容、输出格式、输出方式、日志保存策略等，常用其下三种标签【Console|File|RollingFile】 -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consolePattern}"/>
        </Console>
    </Appenders>

    <!-- 只有定义了 Loggers 并引入了 Appender，Appender 才会生效 -->
    <Loggers>
        <!--Logger 节点用来单独指定日志的形式，name 为包路径，比如要为 com.op.admin 包下所有日志指定为 DEBUG 级别 -->
        <Logger name="com.op.samples.concurrent" level="${logLevel}"/>

        <!-- Root 节点用来指定项目的根日志，如果没有单独指定 Logger，那么就会默认使用该 Root 日志输出 -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
